*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
#top{
    background-color: #3D415C;
    display: flex;
    height: 55px;
    width: 97%;
    margin: auto;
    margin-top: 30px
}
#top>img{
    height: 20px;
    margin: 15px 0 0 50px;
    margin-right: 67%;
}
#top>h3{
    width: 8%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
}
#head{
    text-align: center;
    /* margin-top: 50px; */
    margin: 50px 0 40px 0;
    color: #E64041;
}
.container{
    display: flex;
    margin: auto;
    width: 80%;
    height: 350px;
    margin-bottom: 30px;
}
.container>div{
    margin: auto;
    height: 100%;
}
.container>div>img{
    height: 100%;
    border-radius: 20px;
}